<a href="https://colab.research.google.com/github/arnoldkiirya1/Business_Intelligence/blob/main/Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing hello world
print("Hello world!")

Hello world!

In [ ]:
#printing hello world
a = "Hello World!"
print(a)

Hello World!

In [ ]:
#Ask user to input their name
name = input("Enter your Full name")
print(name)

Enter your Full nameKiirya Arnold
Kiirya Arnold

In [ ]:
x = input("Enter a number")
print(type(x))

x = eval(input("Enter a number")) # eval() function converts string to int
print(type(x))

Enter a number5
<class 'str'>
Enter a number5
<class 'int'>

In [ ]:
# Modifying Strings
a = "Hello World!"
print(a)
print(a.upper()) # methods: method_name()
b = "HELLO WORLD!"
print(b.lower())

Hello World!
HELLO WORLD!
hello world!

In [ ]:
# Removing Whitespaces
a = "Hello, World! "
print(a)
#we use a method called: strip()
print(a.strip())

Hello, World!
Hello, World!

In [ ]:
#Replace Strings
a = "Hello World!"
#we use replace() method
print(a.replace("H","Y"))

Yello World!

In [ ]:
# Split Strings
a = "Hello World"
print(a.split(" "))
b = "Hello, World"
print(b.split(","))

['Hello', 'World']
['Hello', ' World']

In [ ]:
#String Concatenation
first_name = input("Enter your first name")
last_name = input("Enter your last name ")

full_name = first_name + last_name
print(full_name)

#add space
full_name = first_name + " " + last_name
print(full_name)

Enter your first nameKiirya
Enter your last name Arnold
KiiryaArnold
Kiirya Arnold

In [ ]:
# Formatting Strings using MOMO
balance = 25000
message = "Dear Arnold, your account balance is {} /="
print(message.format(balance))

Dear Arnold, your account balance is 25000 /=

In [ ]:
# multiple argument
qty = 3
item_id = "JUMIA001"
price = 30000
message = "I want {} pieces of item with ID: {} for {} /="
print(message.format(qty,item_id,price))

I want 3 pieces of item with ID: JUMIA001 for 30000 /=

In [ ]:
# multiple argument
qty = 3
item_id = "JUMIA001"
price = 30000
message = "I want {2} pieces of item with ID: {0} for {1} /=" # edit the message to make meaning
print(message.format(qty,item_id,price)) #(0,1,2)

I want 30000 pieces of item with ID: 3 for JUMIA001 /=

In [ ]:
# Lists, used to store multiple items into a single variable.
mylist = ["apples", "bananas", "mangoes"] #[0,1,2]
print(mylist)
print(mylist[0]) # Extraction of items in the list
print(len(mylist)) # len() method used to get lenght of the List

mylist[1] = "Berries" # Changng items in the list
print(mylist)

mylist[0:2] = ["Bananas", "apples"] # Chaning Items in the range 0 and 2 in the list
print(mylist)

['apples', 'bananas', 'mangoes']
apples
3
['apples', 'Berries', 'mangoes']
['Bananas', 'apples', 'mangoes']

In [ ]:
#Adding new Items into the list
numbers = ['Arnold']
print(numbers)
numbers.append('Kiirya') # seperate line, without declaration of new variable
print(numbers)

['Arnold']
['Arnold', 'Kiirya']

In [ ]:
# Removing Items into a list
mylistss = ["apples", "bananas", "mangoes"]
mylistss.remove("bananas") # seperate line, without declaration of new variable
print(mylistss)

['apples', 'mangoes']

In [ ]:
# Decision Structures

t1, t2, t3 = eval(input("Enter the marks"))
print(t1)
print(t2)
print(t3)

average = (t1 + t2 + t3)/3
print(average)

if average < 6 : # first condition
  print("Average is greater than or equal to 6")
elif average > 5 : # if the condition above is false
  print("Average is greater than 6")
else : # if all above is false
   print("Average is less than 6")

Enter the marks5, 6, 7
5
6
7
6.0
Average is greater than 6

In [ ]:
#Differences betwen Lists, Sets, tuples and dictionaries

#Make research about this

In [ ]:
# Login Program uisng Python using username and password, you promt the user to enter their details. You display a message upon every trial (Login failed, Login successful, Wrong Password)

In [ ]:
#Loops
# Types two types: 1. While loop 2. For Loop

In [ ]:
#While Loop
#print i as long as i less than 6
i = 1
while i < 6:
  print(i)
  i = i + 1  # same as : i++

1
2
3
4
5

In [ ]:
# Using the break statement in the while loop
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

In [ ]:
# Using the continue statement in the while loop
i = 0 
while i < 6:
   i = i + 1
   if i == 3: # Jumping from 2 to 4
     continue
   print(i)

2
4
5
6

In [ ]:
# Using the else Statement
i = 1 
while i < 6:
  print(i)
  i = i + 1
else:
  print("i is nolonger less than 6")

1
2
3
4
5
i is nolonger less than 6

In [ ]:
# For Loop
mylists = ["apples", "bananas", "mangoes"] # ctrl + v pasting
for x in mylists:
  print(x)

apples
bananas
mangoes

In [ ]:
# Using the break statement in For Loop
mylists = ["apples", "bananas", "mangoes"] # ctrl + v pasting
for x in mylists:
  print(x)
  if x == "bananas":
    break

apples

In [ ]:
# Using the continue statement in For Loop
mylists = ["apples", "bananas", "mangoes"]
for x in mylists:
  
  if x == "bananas":
    continue
  print(x)

apples
mangoes

In [ ]:
# using the range function in the for loop
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for y in range(2, 6):
  print(y)

2
3
4
5

In [ ]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(1,11):
    if x == 2:
      continue
    elif x == 3:
      continue
    elif x == 5:
      continue
    elif x == 6:
      continue
    elif x == 8:
      continue
    elif x == 9:
      continue
    print(x)

1
4
7
10

In [ ]:
for x in range (1, 11, 3):
  print(x)

1
4
7
10

In [ ]:
# Using the Else in the for loop
for x in range (1, 11, 3):
  print(x)
else:
  print("Finally finished Printing the loop")

1
4
7
10
Finally finished Printing the loop

In [ ]:
# Pass Statement in the for loop
for x in range(1,11):
  pass # Helps making your loop empty

In [ ]:
#Python Functions 
#Functions are lines of code which only run when called.

In [ ]:
#Creating a funtion and calling it
def my_function_name(): # creating
  print("This is my first function")

my_function_name() # calling

This is my first function

In [ ]:
def average(t1, t2, t3):
  average = (t1 + t2 + t3)/3
  return average

x = average(2,3,4)
y = average(5,6,7)

print("Average of 2,3 & 4 is", x)
print("Average of 5,6 & 7 is", y)

Average of 2,3 & 4 is 3.0
Average of 5,6 & 7 is 6.0

In [ ]:
def name(fname):
  print("Your name is:", fname)

name("Annet")

Your name is: Annet

In [ ]:
# Using functions, loops and list
def fruits(items):
  for x in items:
    print(x)

mylists = ["apples", "bananas", "mangoes"]
fruits(mylists)

apples
bananas
mangoes

In [ ]:
def fruits(items):
  pass

In [ ]:
# Program to calculate the area of various shapes
from math import *
# Calculates the area of a shape
def calculate_area(shape):
    area = 0
    # Circle
    if shape == 'C':
        radius = input("Enter the radius: ")
        area = calculate_circle_area(float(radius))
    elif shape == 'S':
        side = input("Enter the side: ")
        area = calculate_square_area(float(side))
    elif shape == 'R':
        length = input("Enter the length: ")
        width = input("Enter the width: ")        
        area = calculate_rectangle_area(float(length), float(width))
    else:
        print("Invalid selection. Choose 'C', 'S' or 'R'.")

    return area

# Calculates the area of a square
def calculate_square_area(side: float): #  the parameter side is a float number
    area = side * side
    return area

# Calculates the area of a rectangle with given length and width
def calculate_rectangle_area(length: float, width: float): #  the length and width side is a float number
    area = length * width
    return area

# Calculates the area of a circle
def calculate_circle_area(radius: float): #  the parameter radius is a float number
    
    area = pi * radius ** 2
    return area

# Returns the name of the shape matching the selection
def get_shape_name(tag):
    shape = "Unknown"
    if tag == 'C':
        shape = "circle"        
    elif tag == 'S':
        shape = "square"
    elif tag == 'R':
        shape = "rectangle"
    return shape

# Testing
print("""
---------------
Area calculator
---------------
Select a shape:
""")

# Prompt the user to select a shape and wait
selection = input("""\t'S' - Square
\t'R' - Rectangle
\t'C' - Circle
""")

area = -1
# Square
if selection == 'S':
    side = input("Enter the side: ")
    area = calculate_square_area(float(side))
# Rectangle
elif selection == 'R':
    length = input("Enter the length: ")
    width = input("Enter the width: ")        
    area = calculate_rectangle_area(float(length), float(width))
# Circle    
elif selection == 'C':
    radius = input("Enter the radius: ")
    area = calculate_circle_area(float(radius))
else:
    print("Invalid selection. Choose 'S', 'R' or 'C'.")

print(f"The area is {area}") # f strings

In [ ]:
# Object Oriented Programming (OOP)
# Its a programming model that organises software design around data, can be objects rathan that functions and logic.

In [ ]:
# Objects and Classes
# An object is a collection of data such variables and also containes methods which can be functions.
# A class is a blueprint of an object (A prototype)

In [ ]:
#creating a python class using keyword : class

class Classname:
 pass

#creating object of class
objectName = Classname()

In [ ]:
class vehicles:
  name = ""
  color= ""
  seats= ""

vehicle1 = vehicles() #objectname = classname()

#Access Class Attributes using objects ( We use the . notation to access the attributes)
vehicle1.name = "BMW"
vehicle1.color = "Red"

vehicle2 = vehicles()
vehicle2.name = "Toyata"
vehicle2.color = "Black"

print(f"The color of {vehicle1.name} is {vehicle1.color}")
print(f"The color of {vehicle2.name} is {vehicle2.color}")

The color of BMW is Red
The color of Toyata is Black

In [ ]:
# Python methods ( Functions inside a class)

#creating a class
class Room:
  name =""
  length = 0.0
  breadth = 0.0
  def calculate_area(self):
    area = self.length * self.breadth
    stream = self.name
    print(f"Area of the {stream} Class Room is {area}")

#create object of Class rooms
s1_class = Room()
s1_class.name = "S1 East"
s1_class.length = 30.0
s1_class.breadth = 42.5

s6_class = Room()
s6_class.name = "S6 PCM"
s6_class.length = 50.0
s6_class.breadth = 42.5

# Access the methods inside the class
s1_class.calculate_area()
s6_class.calculate_area()

Area of the S1 East Class Room is 1275.0
Area of the S6 PCM Class Room is 2125.0

In [ ]:
# Python Constructors to initialize values ( _init_() is the constructor function )

class Room:
  #constructor function
  def __init__(self, name = "", length = 0, breadth = 0):
    self.name = name
    self.length = length
    self.breadth = breadth
  
  def calculate_area(self):
    area = self.length * self.breadth
    print(f"Area of the {self.name} Class Room is {area}")

s1_class = Room()
s1_class.name = "S1 East"
s1_class.length = 30
s1_class.breadth = 50
s1_class.calculate_area()

Area of the S1 East Class Room is 1500

In [ ]:
class Person:
    def __init__(self, name=""):
      self.name = name
    def say_hi(self):
      print(f"Hello {self.name}")

person1 = Person()
person1.name = "Kiirya Anrold"
person1.say_hi()

Hello Kiirya Anrold